@charset "UTF-08";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(../imagens/fundo-coleta.png);
    background-position: left center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
    justify-content: center;
    align-items: center;
    
    
    
}

header {
    height: 60px;
    border-color: var(--color3);
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.icone {
    width: 200px;
}

.escola {
    width: 300px;
}

.logo {
    width: 250px;
}

main {
    position: relative;
    top: 50px;
    margin: 0 auto;
    height: 70vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.514);
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "foto1 foto2 foto3"
        "foto4 foto5 foto6"
        
        ;
}

