@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300 & display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --color1:#5B8235;
    --color2:#3a5321;
    --color3:black;
    --color4:white;

}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding: 0 1rem;
}




header {
    height: 90px;
    border-color: var(--color3);
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.icone {
    width: 200px;
}

.escola {
    width: 300px;
}

.logo {
    width: 250px;
}

section.principal {
    padding-right: 0px;
    padding-bottom: 150px;
}

section.principal img {
    display: block;
    margin: 20px 0 0 auto;
    max-width: 100%;
}

