@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --color1:#5B8235;
    --color2:#3a5321;
    --color3:black;
    --color4:white;
    --font1: 'Secular One', sans-serif;
    --font2: 'Bebas Neue', sans-serif;


}



header {
    height: 90px;
    width: 100%;
    border-color: var(--color3);
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.icone {
    width: 200px;
}

.escola {
    width: 300px;
}

.logo {
    width: 250px;
}

main {
    background-color:#83b452;
    display: flex;
    min-width: 100vw;
    flex-direction: column;
}

section.principal {

    padding: 10px;
    display: grid;
    gap: 40px;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "item2 item1 item1"
        "item3 item4 item5"
        "item6 item6 item6"
        
        ;
    
}






.item1 {
    grid-area: item1;
    padding: 10px;
    line-height: 1.5em;
}



.item1 h1 {
    font-family:var(--font1);
    font-size: 1.7em;
    padding: 30px;
}




.item2 {
    grid-area: item2;
    
   
}

.item3 {
    grid-area: item3;
   
    
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
    
}

.item6 {
    grid-area: item6;
    text-align: center;
    
}



div.texto2 {
    padding: 10px;
    line-height: 1.5em;
}

div.button {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    background-color: #3a5321;
    
}

div.button a {
    color: white;
    text-decoration: none;
}


#card {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #5B8235;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.466);
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: center;
}

#card h2 {
    padding: 5px;
    font-size: 1.2em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
    
}

#card p {
    padding: 5px;
    margin-top: 7px;
}

aside#img1 {
    background-image: url(../imagens/coleta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

aside#img2 {
    background-image: url(../imagens/guardioes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

aside#img3 {
    background-image: url(../imagens/palestra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    padding: 30px;
}

img.redesociais {
    width: 50px;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}



footer {
    
    background-color: rgb(201, 199, 199);
    text-align: center;
    padding: 30px;
}

footer p {
    font-family: var(--font2);
}

footer a {
    font-family: var(--font2);
    color: #3a5321;
    text-decoration: none;
}


@media (max-width: 958px) {
    section.principal {
        grid-template-areas:
        "item1 item1 item1"
        "item2 item2 item2"
        "item3 item3 item3"
        "item4 item4 item4"
        "item5 item5 item5"
        "item6 item6 item6"
         ;
    }

        header {
            height: 270px;
            display: flex;
            flex-direction: column;
            gap: 3px;
            justify-content: center;
            

}
}
